<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new Course</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/courses/create" method="POST">
        {% csrf_token %}
        <label>Name: <input type="text" name="course_name"></label>
        <label>Description: <input type="text" name="description"></label>
        <input type="submit" value="Add">
    </form>
    <h1>Courses</h1>
    <table>
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in all_courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="/courses/destroy/{{course.id}}">remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>