*
{
    color: white;
    margin: 0;
    padding: 0;
}

#nav
{
    background-color: #6495ed;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img
{
    width: 100px;
    align-self: center;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}